.cardSec {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  margin: 2.2rem 6.25rem 0px 6.25rem;
  gap: 2.2rem;
}
.wrapperContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.postImage {
  width: 1240px;
  height: 368px;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 0px #dfdfe4, 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz com que a imagem se estique para cobrir completamente o contêiner */
}

.textArea {
  padding: 0px 6.25rem 0px 6.25rem;
  margin-bottom: 115px;
}

.postTitle {
  color: #dfdfe4;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 20px;
}

.postAuthorDate {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #dfdfe4bb;
  margin-bottom: 36px;
}

.postText {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #dfdfe4bb;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
/* mobile */
@media (max-width: 768px) {
  .cardSec {
    /* ok */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .wrapperContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .postImage {
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .postImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem se estique para cobrir completamente o contêiner */
  }

  .textArea {
    padding: 0px 1.25rem 0px 1.25rem;
    margin-bottom: 115px;
    text-align: justify;
    text-justify: inter-word;
  }

  .postTitle {
    color: #dfdfe4;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.0625rem;
    margin-bottom: 20px;
  }

  .postAuthorDate {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: #dfdfe4bb;
    margin-bottom: 36px;
  }

  .postText {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: #dfdfe4bb;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1366px) {
  .cardSec {
    /* ok */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .wrapperContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .postImage {
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .postImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem se estique para cobrir completamente o contêiner */
  }

  .textArea {
    padding: 0px 1.25rem 0px 1.25rem;
    margin-bottom: 115px;
  }

  .postTitle {
    color: #dfdfe4;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.0625rem;
    margin-bottom: 20px;
  }

  .postAuthorDate {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: #dfdfe4bb;
    margin-bottom: 36px;
  }

  .postText {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: #dfdfe4bb;
    word-wrap: break-word;
  }
}
