.cardCareer {
  background-color: var(--midnight-x);
  border: 0.125rem solid;
  border-color: var(--cinza-da-pixel);
  width: 25rem;
  padding: 1.563rem;
  border-radius: 0.5rem;
}

.roleTitle {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.813rem;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.tags {
  margin-top: 1rem;
  display: flex;
}

/*mobile */
@media screen and (max-width: 767px) {
  .cardCareer {
    width: 100%;
    padding-right: 0.5rem; /* cadu help */
  }

  .roleTitle {
    font-size: 1rem;
  }

  .group {
    flex-direction: column;
  }
  .tags {
    margin-top: 0.5rem;
  }
}
