.tag {
  align-items: flex-start;
  background-color: var(--midnight-x);
  border: 1px solid;
  border-color: var(--cinza-da-pixel);
  border-radius: 0.3125rem;
  display: inline-flex;
  gap: 0.625rem;
  overflow: hidden;
  padding: 0.375rem 0.8125rem;
  position: relative;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: left;
  color:  #DFDFE4;
}

.wm {
  color: var(--cinza-da-pixel);
  font-family: var(--detail-font-family);
  font-size: var(--detail-font-size);
  font-style: var(--detail-font-style);
  font-weight: var(--detail-font-weight);
  letter-spacing: var(--detail-letter-spacing);
  line-height: var(--detail-line-height);
  margin-top: -0.0625rem;
  position: relative;
  width: fit-content;
}
