.header {
  background-color: rgba(2, 48, 71, 1);
  width: 100%;
  height: 150px;
  border: solid 1px #dfdfe42e;
}

.headerItems {
  width: 100%;
  padding-right: 100px;
  padding-top: 50px;
  padding-left: 100px;
  height: 100%;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.JOJOS {
  color: transparent;
  font-family: "Press Start 2P";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: bold;
}
.laranjaO {
  color: orange;
  font-weight: bold;
}
.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 68px;
}

.menuItem {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  border: none;
  background-color: transparent;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.menuItem:hover {
  color: rgba(255, 255, 255, 0.5);
}

.carreira {
  color: #023047;
  background-color: #fa8400;
  padding: 0.625rem 1.25rem;
  border-radius: 4px;
}

.carreira:hover {
  color: #001e2d;
  background-color: #fa8400bb;
}
