.header {
  background-color: rgba(2, 48, 71, 1);
  width: 100%;
  height: 9.375rem;
  border: solid 0.0625rem #dfdfe42e;
}

.headerItems {
  width: 100%;
  padding-right: 6.25rem;
  padding-top: 3.125rem;
  padding-left: 6.25rem;
  height: 100%;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.JOJOS {
  color: transparent;
  font-family: "Press Start 2P";
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  letter-spacing: 0.1875rem;
  font-weight: bold;
}
.laranjaO {
  color: #fa8400;
  font-weight: bold;
}
.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 4.25rem;
}

.menuItem {
  font-size: 1.25rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  border: none;
  background-color: transparent;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.menuItem:hover {
  color: rgba(255, 255, 255, 0.5);
}

.carreira {
  color: #023047;
  background-color: #fa8400;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
}

.carreira:hover {
  color: #001e2d;
  background-color: #fa8400bb;
}

.groupMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*mobile */
@media screen and (max-width: 767px) {
  .menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .menu a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}
