.gameSection {
  margin: 2rem 6.25rem 0px 6.25rem;
}

.gameImageMain {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.gameContainer {
  width: 100%;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  justify-items: center;
}
