.card {
  display: flex;
  margin: 0px 6.25rem 0px 6.25rem;
}

.cardWrapper {
  display: flex;
  width: 100%; /* Certifica-se de que o wrapper ocupe 100% da largura */
}

.cardImage {
  width: 40%; /* Defina a largura da imagem como 40% da largura total */
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura máxima da div */
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 60%; /* Defina a largura do conteúdo como 60% da largura total */
  margin: 0px 1.25rem 0px 1.25rem;
}

.cardTitle {
  font-family: "Montserrat";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.cardAuthorDate {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.cardDescription {
  flex-grow: 1;
  overflow: hidden;
  color: #dfdfe4;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.cardImage img {
  width: 100%; /* Certifica-se de que a imagem ocupe 100% da largura da div cardImage */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 3px;
}
