.card {
  display: flex;
  margin: 0px 6.25rem 0px 6.25rem;
}

.cardWrapper {
  display: flex;
  width: 100%; 
}

.cardImage {
  width: 40%; 
  max-width: 100%; 
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 60%; 
  margin: 0px 1.25rem 0px 1.25rem;
}

.cardTitle {
  font-family: "Montserrat";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.cardAuthorDate {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.cardDescription {
  flex-grow: 1;
  overflow: hidden;
  color: #dfdfe4;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.cardImage img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
