.career {
  width: 100%;
}

.title {
  color: var(--sunrise-x-laranjinha, #fa8400);
  font-family: "Press Start 2P";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  margin-top: 7.1875rem;
}

.cardsGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.0625rem;
  justify-items: center;
}

.card {
  margin-bottom: 1.5rem;
}

/* mobile */
@media screen and (max-width: 767px) {
  .cardsGroup {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2.0625rem;
    margin-top: 3.4375rem;
    margin-bottom: 1rem;
  }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardsGroup {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2.0625rem;
    margin-top: 3.4375rem;
    margin-bottom: 1rem;
  }
}
