.about {
  margin-top: 3rem;
}

.img {
  width: 39rem;
  height: 50rem;
}

.img img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.title {
  color: var(--sunrise-x-laranjinha, #fa8400);
  font-family: "Press Start 2P";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.group {
  display: flex;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  gap: 3.125rem;
}

.text {
  font-family: "Montserrat";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #dfdfe4bb;
}

/*mobile */
@media screen and (max-width: 767px) {
  .group {
    flex-direction: column;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    gap: 1.25rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .img {
    width: 100% !important;
    height: 110vw;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2.0625rem;
    margin-top: 3.4375rem;
    margin-bottom: 1rem;
  }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .group {
    flex-direction: column;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    gap: 1.25rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .img {
    width: 100% !important;
    height: 110vw;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2.0625rem;
    margin-top: 3.4375rem;
    margin-bottom: 1rem;
  }
}
