.about {
  margin-top: 3rem;
}

.title {
  color: var(--sunrise-x-laranjinha, #fa8400);
  font-family: "Press Start 2P";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem; /* converted from 20px */
}

.group {
  display: flex;
  margin-left: 6.25rem; /* converted from 100px */
  margin-right: 6.25rem; /* converted from 100px */
  gap: 3.125rem; /* converted from 50px */
}

.text {
  font-family: "Montserrat";
  font-size: 1.25rem; /* converted from 20px */
  font-weight: 400;
  line-height: 2rem; /* converted from 32px */
  letter-spacing: 0em;
  text-align: left;
  color: #dfdfe4bb;
}
